{% extends "_layouts/cp" %} {% set title = "Media Library"|t('cloudinary') %}{% block content %}
<script src="https://media-library.cloudinary.com/global/all.js"></script>
<div class="cms-container"></div>
<style>
    .cms-container {
        height: 88vh;
    }
</style>
<script>
    async function sha256(message) {
    // encode as UTF-8
    const msgBuffer = new TextEncoder('utf-8').encode(message);                    

    // hash the message
    const hashBuffer = await crypto.subtle.digest('SHA-256', msgBuffer);

    // convert ArrayBuffer to Array
    const hashArray = Array.from(new Uint8Array(hashBuffer));

    // convert bytes to hex string                  
    const hashHex = hashArray.map(b => ('00' + b.toString(16)).slice(-2)).join('');
    return hashHex;
}
    const mloptions = {
        cloud_name: '{{ craft.cloudinary.settings.cloudName }}',
        api_key: '{{ craft.cloudinary.settings.apiKey }}',
        username: '{{ craft.cloudinary.settings.userName }}',
        timestamp: "{{ now|date('U') }}",
        inline_container: '.cms-container',
        multiple: true,
        max_files: 8,
    }
    mloptions.signature=sha256('{{ "cloud_name={{craft.cloudinary.settings.cloudName }}&timestamp='+mloptions.timestamp+'&username={{ craft.cloudinary.settings.userName }}"}}')
    window.ml = cloudinary.openMediaLibrary(mloptions, {
        insertHandler: function(data) {
            data.assets.forEach(asset => {
                console.log("Inserted asset:",
                    JSON.stringify(asset, null, 2))
            })
        }
    })
</script>
{% endblock %}